<v-page>
    <v-header backUrl="/bank" slot="header">
    请填写{{ category?.name }}信息
  </v-header>

  <tabbar slot="footer" *ngIf="!showNeedWorker"></tabbar>
  <dynamic-form [inputs]="fields" *ngIf="fields && !showNeedWorker" (submit)="submit($event)"></dynamic-form>


  <v-tabbar slot="footer" *ngIf="showNeedWorker">
    <v-tabbar-btn class="primary" [routerLink]="['/bank/worker']" *ngIf="!isWorker">我要加入</v-tabbar-btn>
  </v-tabbar>
  <empty-page *ngIf="showNeedWorker">您还未成为本社区的社工</empty-page>
</v-page>

