<v-page>
  <v-header [showBack]="false" slot="header">
    <a class="ngv-header-back ngv-header-button" slot="left" [routerLink]="['/bank']">
      <span>返回</span>
      <div class="left-arrow"></div>
    </a>
  </v-header>
  <tabbar slot="footer"></tabbar>

  <v-slider>
    <v-slider-item>
      <v-image width="100%" height="200" src="https://ustbhuangyi.github.io/better-scroll/images/slider1.jpg" size="cover"></v-image>
    </v-slider-item>
    <v-slider-item>
      <v-image width="100%" height="200" src="https://ustbhuangyi.github.io/better-scroll/images/slider2.jpg" size="cover"></v-image>
    </v-slider-item>
    <v-slider-item>
      <v-image width="100%" height="200" src="https://ustbhuangyi.github.io/better-scroll/images/slider3.jpg" size="cover"></v-image>
    </v-slider-item>
  </v-slider>


</v-page>
