<v-page class="page-group" *ngIf="organization">
  <v-header slot="header" backUrl="/group">
    <span>{{ organization.name }}</span>
    <v-icon class="ngv-header-button" type="edit" [headerButton]="true" slot="right" [routerLink]="['/group/' + organization.id +'/thread/add']" *ngIf="organization.isJoined"></v-icon>
  </v-header>
  <tabbar slot="footer"></tabbar>

  <div class="group-header ngv-bg-white">
    <div class="group-header-left">
      <v-image src="assets/images/group/default.png" width="80px" height="80px"></v-image>
    </div>
    <div class="group-header-center">
      <div class="group-name">{{ organization.name }}</div>
      <div class="group-desc">{{ organization.description || organization.name}}</div>
      <div class="group-meta">
        <span>人数: <span class="highlight">{{ organization.userCount }}</span></span>
        <span>帖子: <span class="highlight">{{ organization.threads ? organization.threads.length : 0 }}</span></span>
      </div>
    </div>
    <div class="group-header-right">
      <div class="group-buttons">
        <div class="group-button" (click)="join()" *ngIf="!organization.isJoined">
          <span>加入</span>
        </div>
        <div class="group-button" (click)="quit()" *ngIf="organization.isJoined">
          <span>退出</span>
        </div>
      </div>
    </div>
  </div>

  <div class="group-body" *ngIf="organization.threads && organization.threads.length">
    <div class="thread-list">
      <div class="thread ngv-gutter ngv-bg-white" *ngFor="let t of organization.threads">
        <div class="thread-head">
          <div class="thread-head-left">
            <v-image [src]="t.headimgurl" width="35px" height="35px"></v-image>
          </div>
          <div class="thread-head-center">
            <div class="thread-user-name">
              {{ t.realname }}
            </div>
            <div class="thread-time">4分钟前</div>
          </div>
          <div class="thread-head-right">
            <div>
              <v-icon type="good"></v-icon>
              <span>{{ t.good }}</span>
              <v-icon type="bad"></v-icon>
              <span>{{ t.bad }}</span>
              <v-icon type="comment"></v-icon>
              <span>{{ t.commentCount }}</span>
            </div>
          </div>
        </div>
        <div class="thread-body">
          <div class="thread-title">{{ t.title}}</div>
          <div class="thread-desc">
            {{ t.content }}
          </div>
          <div class="thread-images" *ngIf="t.images && t.images.length">
            <wechat-multiple-uploader [(serverIds)]="t.images" (clickItem) = "clickItem($event)" [showTip]="false" [showAdd]="false"></wechat-multiple-uploader>
          </div>
        </div>
      </div>
    </div>
  </div>
</v-page>

