<div class="seller">
  <div class="seller-wrap">
    <div class="seller-bd">
      <div class="contact">
        <div class="contact-cont">
          <p class="title">{{ getTitle(order) }}</p>
        </div>
      </div>
      <div class="state">
        <div class="state-cont">
          <p>{{ getOrderStatus(order) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<order-item *ngFor="let item of order.details" [orderItem]="item" [type]="order.type"></order-item>
<div class="pay">
  <div class="pay-wrap">
    <div class="pay-cont">
      <ng-container [ngSwitch]="order.type">
        <ng-container *ngSwitchCase="'product'">
          <span>共<b>{{ getProductCount(order) }}</b>件商品</span>
          <span>合计:<b>{{ getProductPoints(order) }}积分</b></span>
          <span><b>{{ getProductPrice(order) | yuan }}</b></span>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <span> {{ getType() }} </span>
          <span><b>{{ order.points }}积分</b></span>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<div class="orderop" *ngIf="getActions().length">
  <div class="operators">
    <ul class="clearfix">
      <li (click)="act(a)" *ngFor="let a of getActions()">{{ actions[a] }}</li>
    </ul>
  </div>
</div>
