<div class="detail-info" *ngIf="product">
  <header>
    <div class="item-info">
      <div class="item-title">
        <h3>{{ product.title }}</h3>
      </div>
      <div class="item-price">
        <span class="num highlight">￥{{ product.price }}</span>
        <span class="unit highlight">+</span>
        <span class="num highlight">{{ product.points }}</span>
        <span class="unit highlight">积分</span>
        <span class="rmb">￥{{ product.normalPrice }}</span>
      </div>
    </div>
  </header>

  <v-group>
    <v-cell [value]="getStatus()">状态</v-cell>
  </v-group>

  <v-box title="商家">
    <v-cell>
      <div class="weui-textarea">{{ product.storeName }}</div>
    </v-cell>
  </v-box>

  <v-box title="购买地址">
    <v-cell>
      <div class="weui-textarea">{{ product.storeAddress }}</div>
    </v-cell>
  </v-box>

  <v-box title="详情说明">
    <v-cell>
      <div class="weui-textarea">{{ product.description }}</div>
      <div class="weui-textarea" *ngIf="images && images.length">
        <img [src]="src" *ngFor="let src of images" width="100%">
      </div>
    </v-cell>
  </v-box>
</div>
