@import "../../../styles/weui/base/mixin/setOnepx.less";
@import '../../../styles/weui/base/mixin/text.less';

question-list-item {
  display: block;
  position: relative;
  padding: 12px 8px 10px;
  margin-top: 8px;
  background: white;

  .question-title {
    .ellipsisLn(4);
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;

    v-icon {
      font-size: 20px;
      color: #FF3B00;
    }

    .question-points {
      color: #FF3B00;
      padding-right: 4px;
    }

  }

  .question-meta {
    color: #c9c9c9;
    font-size: 14px;
    padding-bottom: 8px;
    line-height: 18px;

    v-icon {
      vertical-align: middle;
    }
  }

  .question-type {
    padding-right: 8px;
  }

  .question-time {
    padding-left: 4px;
  }

  .question-bottom {
    padding-top: 10px;
    display: flex;
    font-size: 14px;
  }

  .question-user {
    flex: 1;
    line-height: 18px;

    v-image {
      height: 18px;
      width: 18px;
      vertical-align: middle;
      margin-right: 5px;
      border-radius: 50%;
    }

    span {
      vertical-align: middle;
      color: #c9c9c9;
    }
  }

  .question-answer {
    color: #c9c9c9;
    line-height: 18px;
    &>div {
      display: inline-block;
      vertical-align: middle;
      color: #c9c9c9;
    }

    .question-answers {
      padding-right: 12px;
    }

    .question-answer-action {
      padding-left: 8px;
      color: #FF3B00;

      &.disable {
        color: #c9c9c9;
      }
    }
  }
}
