<div class="question-body">
  <div class="question-title" (click)="gotoQuestion()">
    <ng-container [ngSwitch]="question.category">
      <ng-container *ngSwitchCase="'question'">
        <v-icon type="question"></v-icon>
        <span class="question-points">{{ question.points }}积分</span>
      </ng-container>
      <ng-container *ngSwitchCase="'help'">
        <v-icon type="help"></v-icon>
        <span class="question-points">{{ question.points }}积分</span>
      </ng-container>
      <ng-container *ngSwitchCase="'service'">
        <v-icon type="service"></v-icon>
        <span class="question-points">{{ question.points }}积分</span>
      </ng-container>
    </ng-container>
    <span>{{question.title}}</span>
  </div>
  <div class="question-meta ngv-1px-b" (click)="gotoQuestion()">
    <v-icon type="tag"></v-icon>
    <span class="question-type ngv-1px-r">{{ question.mainType }}－{{ question.type }}</span>
    <span class="question-time">{{ question.createdAt | time: 'minite' }}</span>
  </div>
</div>

<div class="question-bottom" (click)="gotoQuestion()">
  <div class="question-user">
    <v-image [src]="question.headimgurl" [block]="false" *ngIf="showUser"></v-image>
    <span *ngIf="showUser">{{ isOwner ? '我' : question.realname }}</span>
  </div>
  <div class="question-answer">
    <div class="question-answers">{{ question.answerCount }}个{{ actionLabel }}</div>
    <div class="question-status" *ngIf="question.payedPoints && isOwner">{{ question.payedPoints===question.points ? '已解决' : '已付' + question.payedPoints + '积分' }}</div>
    <div class="question-answer-action ngv-1px-l" *ngIf="!isOwner" (click)="answer()">
      <v-icon type="edit"></v-icon>
      <span>{{ actionLabel }}</span>
    </div>
  </div>
</div>

