<ng-container *ngFor="let d of service.details; let i = index">
  <ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="d.type === 'select' || d.type === 'text' || d.type === 'number'">
      <v-group [class.first]="i === 0">
        <v-cell [value]="d.content">{{d.label}}</v-cell>
      </v-group>
    </ng-container>
    <ng-container *ngSwitchCase="d.type === 'textarea'">
      <v-box [title]="d.label">
        <v-cell>
          <div class="weui-textarea">{{ d.content }}</div>
        </v-cell>
      </v-box>
    </ng-container>
  </ng-container>
</ng-container>

<v-group *ngIf="!isMine">
  <v-cell [value]="service?.userName" [isLink]="true">信息发布人</v-cell>
</v-group>

<v-group *ngIf="user && user.status && isMine">
  <v-cell [value]="getUserStatus(user.status)">我的参加状态</v-cell>
</v-group>

<v-box title="服务对象情况">
  <v-cell [value]="service.submitCount" [isLink]="isMine" (click)="gotoUsers(0)">报名中</v-cell>
  <v-cell [value]="service.acceptCount" [isLink]="isMine" (click)="gotoUsers(1)">已确认</v-cell>
  <v-cell [value]="service.doneCount" [isLink]="isMine" (click)="gotoUsers(2)">已完成</v-cell>
</v-box>
