<v-page>
  <v-header slot="header" [showBack]="false">首页</v-header>

  <tabbar slot="footer"></tabbar>
<div>

<v-divider>Alipay: I have bottom line</v-divider>
<v-divider>我是有底线的</v-divider>

<quickentry>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
</quickentry>
<quickentry>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
  <quickentry-item icon="shuiguoshengxian" bg="#46cc37">
    土特食品
  </quickentry-item>
</quickentry>

<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>

</div>


</v-page>

