<v-header>首页</v-header>
<v-header backText="返回" [showMore]="true">首页</v-header>

<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>

<v-tabbar>
  <v-tabbar-item>
    <i slot="icon" class="iconfont icon-shequ"></i>
    社区
  </v-tabbar-item>
  <v-tabbar-item [showDot]="true">
    <i slot="icon" class="iconfont icon-gongyi"></i>
    公益
  </v-tabbar-item>
  <v-tabbar-item badge="10">
    <i slot="icon" class="iconfont icon-chaoshi"></i>
    超市
  </v-tabbar-item>
  <v-tabbar-item>
    <i slot="icon" class="iconfont icon-user"></i>
    我的
  </v-tabbar-item>
</v-tabbar>
