<v-header [showBack]="false">首页</v-header>

<div>

<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>
<div>
<v-badge text="123"></v-badge>
<v-badge text="10"></v-badge>
<v-badge text="3"></v-badge>
</div>

</div>


<v-tabbar>
  <v-tabbar-item>
    <v-icon slot="icon" type="shequ"></v-icon>
    社区
  </v-tabbar-item>
  <v-tabbar-item>
    <v-icon slot="icon" type="gongyi"></v-icon>
    公益
  </v-tabbar-item>
  <v-tabbar-item>
    <v-icon slot="icon" type="chaoshi"></v-icon>
    超市
  </v-tabbar-item>
  <v-tabbar-item>
    <v-icon slot="icon" type="user"></v-icon>
    我的
  </v-tabbar-item>
</v-tabbar>
