<v-page class="page-market-child">
  <v-header slot="header">
    <span>{{ menu?.name }}</span>
    <v-icon class="ngv-header-button" type="plus" [headerButton]="true" slot="right" [routerLink]="['/publish']"></v-icon>
  </v-header>
  <tabbar slot="footer"></tabbar>

  <div class="ngv-bg-white">
    <v-flexbox class = "ngv-1px-b" *ngFor="let chunk of shownChildren | chunk: 4; let i = index; let last = last">
      <v-flexbox-item  [routerLink]="['/market/child/' + icon.id]" [class.ngv-1px-r]="icon.name && !last1" *ngFor="let icon of chunk | slice: 0:4; let j = index; let last1 = last">
        <div>
          {{ icon.name }}
        </div>
      </v-flexbox-item>
    </v-flexbox>
    <div class="collapse-btn" (click)="toggle()" *ngIf="!isShowAll && needCollapse">
      展开全部
      <v-icon type="arrowdown"></v-icon>
    </div>
    <div class="collapse-btn" (click)="toggle()" *ngIf="isShowAll && needCollapse">
      收起
      <v-icon type="arrowup"></v-icon>
    </div>
  </div>

  <div class="filter-container ngv-gutter ngv-1px-b">
    <div class="filter-item" (click)="showCategories()">
      <div class="filter-item-container">
        <div class="ngv-1px-r">
          分类
          <v-icon type="arrowdown"></v-icon>
        </div>
      </div>
    </div>
    <div class="filter-item" (click)="showSort()">
      <div class="filter-item-container">
        <div class="ngv-1px-r">
          排序
          <v-icon type="arrowdown"></v-icon>
        </div>
      </div>
    </div>
    <div class="filter-item" (click)="showCategory()">
      <div class="filter-item-container">
        <div>
          筛选
          <v-icon type="arrowdown"></v-icon>
        </div>
      </div>
    </div>
  </div>

  <empty-page *ngIf="!products || !products.length">暂无该类商品</empty-page>
  <div class="product-list ngv-bg-white">
    <product-list-item
      class="ngv-1px-b"
      [product]="p"
      [full]="false"
      [routerLink]="['./product/' + p.id]"
      *ngFor="let p of products"
    >
   </product-list-item>
  </div>


  <div class="filter-detail-container" *ngIf="filterStatus">
    <div class="weui-mask" (click)="clickMask()"></div>
    <div class="filter-detail-type" *ngIf="filterStatus === 1">
      <div class="category-left">
        <ul>
          <li *ngFor="let m of menus" (click)="selectMain(m)" [class.category-left-active]="selectedMenu && m.id === selectedMenu.id">
            <span>{{ m.name }}</span>
            <v-icon type="right"></v-icon>
          </li>
        </ul>
      </div>
      <div class="category-right">
        <ul>
          <li  class="ngv-1px-b" [routerLink]="['/market/child/' + selectedMenu.id]" [class.category-right-active]="selectedMenu.id === currentId">
            <span>全部</span>
            <v-icon type="right"></v-icon>
          </li>
          <li *ngFor="let c of selectedChildren" [routerLink]="['/bank/child/' + c.id]" class="ngv-1px-b" [class.category-right-active]="c.id === currentId">
            <span>{{ c.name }}</span>
            <v-icon type="right"></v-icon>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter-detail-type" *ngIf="filterStatus === 2">
      <ul class="sort-list">
        <li (click)="selectSort('points')">
          <v-icon type="jifen" color="#37C7B7"></v-icon>
          <p class="ngv-1px-b" [class.sort-list-active]="sort ==='points'">
            <span>积分最少</span>
            <v-icon type="duigou" *ngIf="sort ==='points'"></v-icon>
          </p>
        </li>
        <li (click)="selectSort('sales')">
          <v-icon type="remai" color="#F07373"></v-icon>
          <p class="ngv-1px-b" [class.sort-list-active]="sort ==='sales'">
            <span>销量最高</span>
            <v-icon type="duigou" *ngIf="sort ==='sales'"></v-icon>
          </p>
        </li>
        <li (click)="selectSort('rank')">
          <v-icon type="wujiaoxingkong" color="#F1C177"></v-icon>
          <p class="ngv-1px-b" [class.sort-list-active]="sort ==='rank'">
            <span>评价最高</span>
            <v-icon type="duigou" *ngIf="sort ==='rank'"></v-icon>
          </p>
        </li>
      </ul>
    </div>
    <div class="filter-detail-type" *ngIf="filterStatus === 3">
      <ul class="sort-list">
        <li (click)="selectCategory('')">
          <p class="ngv-1px-b" [class.sort-list-active]="!category">
            <span>全部</span>
            <v-icon type="duigou" *ngIf="!category"></v-icon>
          </p>
        </li>
      </ul>
    </div>
  </div>

</v-page>

