<v-page class="page-market">
  <v-searchbar slot="header" (submit)="search($event)"></v-searchbar>
  <tabbar slot="footer"></tabbar>

  <div class="quickentry-nav ngv-1px-b">
    <quickentry>
      <quickentry-item [icon]="c.icon" *ngFor="let c of categories | slice: 0:5" [routerLink]="['/market/search', {categoryId: c.id}]">
        {{ c.name }}
      </quickentry-item>
    </quickentry>
    <quickentry>
      <quickentry-item [icon]="c.icon" *ngFor="let c of categories | slice: 5:5" [routerLink]="['/market/search', {categoryId: c.id}]">
        {{ c.name}}
      </quickentry-item>
    </quickentry>
  </div>

  <empty-page *ngIf="!products || !products.length">暂无内容</empty-page>
  <div class="product-list ngv-bg-white">
    <product-list-item
      class="ngv-1px-b"
      [product]="p"
      [full]="false"
      [routerLink]="['./product/' + p.id]"
      *ngFor="let p of products"
    >
   </product-list-item>
  </div>
</v-page>

