<v-page class="page-order-list">
  <v-header slot="header">订单</v-header>

  <v-tab>
    <v-tab-item *ngFor="let tab of tabs; let i = index" (click)="currentIndex = i" [class.ngv-tab-selected]="i === currentIndex">{{ tab }}</v-tab-item>
  </v-tab>

  <ng-container [ngSwitch]="currentIndex">
    <ng-container *ngSwitchCase="0">
      <empty-page>暂无内容</empty-page>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <empty-page>暂无内容</empty-page>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <order *ngFor="let o of orders" [order]="o"></order>
      <empty-page *ngIf="!orders || !orders.length">暂无内容</empty-page>
    </ng-container>
  </ng-container>
</v-page>
