<v-page class="page-profile-form">
  <v-header slot="header">
    <span>编辑个人信息</span>
    <div class="ngv-header-button" slot="right" (click)="submit()">完成</div>
  </v-header>
  <tabbar slot="footer"></tabbar>

  <form #form="ngForm">
    <v-group gutter="0">
      <v-cell [value]="profile.realname" lable="姓名">
        <input class="weui-input" type="text" placeholder="姓名" name="realname" [(ngModel)]="profile.realname">
      </v-cell>

      <v-cell class="weui-cell_select weui-cell_select-after right" label="性别">
        <select class="weui-select" name="organizationId" [(ngModel)]="profile.sex">
          <option *ngFor="let e of constants.SEX; let i = index" [value]="i">{{ e }}</option>
        </select>
      </v-cell>
      <v-cell [isLink]="true" [routerLink]="" [value]="profile.phone">手机号码</v-cell>
      <v-cell class="right" [isLink]="true" label="出生日期">
        <input class="weui-input" type="date" name="birth">
      </v-cell>
    </v-group>

    <v-group>
      <v-cell [value]="profile.biotope || profile.area">小区名称</v-cell>
      <v-cell [value]="profile.address">门牌号</v-cell>
    </v-group>

    <v-group>
      <v-cell class="weui-cell_select weui-cell_select-after right" label="政治面貌">
        <select class="weui-select" [(ngModel)]="profile.political">
          <option *ngFor="let e of constants.POLITICAL; let i = index" [value]="i">{{ e }}</option>
        </select>
      </v-cell>
      <v-cell class="weui-cell_select weui-cell_select-after right" label="文化程度">
        <select class="weui-select" [(ngModel)]="profile.wenHuaChengDu">
          <option *ngFor="let e of constants.EDUCATION; let i = index" [value]="i">{{ e }}</option>
        </select>
      </v-cell>
      <v-cell class="weui-cell_select weui-cell_select-after right" label="健康状况">
        <select class="weui-select" [(ngModel)]="profile.jianKuanZK">
          <option *ngFor="let e of constants.HEALTH; let i = index" [value]="i">{{ e }}</option>
        </select>
      </v-cell>
      <v-cell [isLink]="true" [routerLink]="">职业资格</v-cell>
      <v-cell [isLink]="true" [routerLink]="">毕业院校及专业</v-cell>
    </v-group>
  </form>
</v-page>
