<v-page class="page-profile">
  <v-header slot="header">
    <span>个人信息</span>
  </v-header>
  <tabbar slot="footer"></tabbar>

  <v-group gutter="0">
    <v-cell [value]="profile.realname" (click)="updateText('realname', profile.realname, '更改姓名')">姓名</v-cell>
    <v-cell class="weui-cell_select weui-cell_select-after right" label="性别">
      <select class="weui-select" name="organizationId" [ngModel]="profile.sex" (ngModelChange)="updateSelect($event, 'sex')">
        <option value="">请选择</option>
        <option *ngFor="let e of constants.SEX; let i = index" [value]="i">{{ e }}</option>
      </select>
    </v-cell>
    <v-cell [value]="profile.phone">手机号码</v-cell>
    <v-cell class="right" label="出生日期">
      <input class="weui-input" type="date" name="birth" [ngModel]="profile.birth" (ngModelChange)="updateSelect($event, 'birth')">
    </v-cell>
  </v-group>

  <v-group>
    <v-cell [value]="profile.biotope || profile.area">小区名称</v-cell>
    <v-cell [value]="profile.address">门牌号</v-cell>
  </v-group>

  <v-group>
    <v-cell class="weui-cell_select weui-cell_select-after right" label="政治面貌">
      <select class="weui-select" [ngModel]="profile.political" (ngModelChange)="updateSelect($event, 'political')">
        <option value="">请选择</option>
        <option *ngFor="let e of constants.POLITICAL; let i = index" [value]="i">{{ e }}</option>
      </select>
    </v-cell>
    <v-cell class="weui-cell_select weui-cell_select-after right" label="文化程度">
      <select class="weui-select" [ngModel]="profile.wenHuaChengDu" (ngModelChange)="updateSelect($event, 'wenHuaChengDu')">
        <option value="">请选择</option>
        <option *ngFor="let e of constants.EDUCATION; let i = index" [value]="i">{{ e }}</option>
      </select>
    </v-cell>
    <v-cell class="weui-cell_select weui-cell_select-after right" label="健康状况">
      <select class="weui-select" [ngModel]="profile.jianKuanZK" (ngModelChange)="updateSelect($event, 'jianKuanZK')">
        <option value="">请选择</option>
        <option *ngFor="let e of constants.HEALTH; let i = index" [value]="i">{{ e }}</option>
      </select>
    </v-cell>
    <v-cell [value]="profile.zhiYeZiGe || '未填写'" (click)="updateText('zhiYeZiGe', profile.zhiYeZiGe, '职业资格')">职业资格</v-cell>
    <v-cell [value]="profile.biYeYuanXiao || '未填写'" (click)="updateText('biYeYuanXiao', profile.biYeYuanXiao, '毕业院校及专业')">毕业院校及专业</v-cell>
  </v-group>
</v-page>
