<v-page class="page-user-service">
  <v-header slot="header" backUrl="/user">{{ title }}</v-header>

  <v-tab class="ngv-1pxd-b" *ngIf="currentTabs">
    <v-tab-item *ngFor="let tab of currentTabs; let i = index" [routerLink]="'/user/service/' + category + '/' + i" routerLinkActive="ngv-tab-selected">{{ tab }}</v-tab-item>
  </v-tab>

  <empty-page *ngIf="!services || !services.length">暂无该类项目</empty-page>
  <div>
    <ng-container *ngIf="this.type === '0'">
      <question-list-item class="ngv-1pxd-tb" [question]="s" [userId]="userId" [showUser]="false" *ngFor="let s of services">
      </question-list-item>
    </ng-container>
    <ng-container *ngIf="this.type === '1'">
      <answer-list-item class="ngv-1pxd-tb" [question]="s" [userId]="userId" *ngFor="let s of services">
      </answer-list-item>
    </ng-container>
  </div>
</v-page>
