@import '../../styles/variable';

v-header .ngv-header-button {
  font-size: 20px;
}

.info-box {
  color: #fff;
  padding: 40px 20px 15px;

  & > img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  .user-info {
    margin-left: 25px;

    p {
      line-height: 1.2;
      font-size: 14px;
      margin-bottom: 3px;

      &:first-child {
        font-size: 24px;
      }
    }
  }
}

.info-data {
  height: 60px;
  background: #FFB351;

  & > a {
    color: #fff;
    display: block;

    p {
      text-align: center;
      &:first-child {
        padding: 8px 0 5px;
        font-size: 16px;
        font-weight: bold;
      }

      &:last-child {
        font-size: 14px;
        line-height: 14px;
      }
    }
  }
}

section {
  background: url(/assets/images/banner.png);
}
