<v-page>
  <tabbar slot="footer"></tabbar>

  <section>
    <div class="info-box ngv-flexbox ngv-flexbox-vcenter">
      <img [src]="user?.avatar" *ngIf="user?.avatar">
      <div class="user-info ngv-flexbox-item">
        <p>{{ user?.name }}</p>
        <p><span>{{ user?.community }}</span></p>
      </div>
      <div class="arrow">
        <v-icon type="right"></v-icon>
      </div>
    </div>
    <div class="info-data ngv-flexbox">
      <a class="ngv-flexbox-item">
        <p class="activity">
          <span>{{ user?.balance }}</span>
        </p>
        <p>积分余额</p>
      </a>
      <a class="ngv-flexbox-item">
        <p class="buy">
          <span>{{ user?.points }}</span>
        </p>
        <p>积分总额</p>
      </a>
      <a class="ngv-flexbox-item">
        <p class="rank">
          <span>D</span>
        </p>
        <p>公益等级</p>
      </a>
    </div>
  </section>

  <v-group>
    <v-cell [isLink]="true" [routerLink]="['/user/product/orders']"><v-icon slot="icon" type="dingdan-copy" color="#38ceff" style="font-size:16px"></v-icon>订单</v-cell>
    <v-cell [isLink]="true" [routerLink]="['/user/points']"><v-icon slot="icon" type="jinlingyingcaiwangtubiao07" color="#FF3B00"></v-icon>积分</v-cell>
  </v-group>

  <v-group>
    <v-cell [isLink]="true" [routerLink]="['/empty']"><v-icon slot="icon" type="tuijian" color="#FEA456"></v-icon>推荐</v-cell>
    <v-cell [isLink]="true" [routerLink]="['/empty']"><v-icon slot="icon" type="jiangli" color="#FF3D00"></v-icon>奖励</v-cell>
    <v-cell [isLink]="true" [routerLink]="['/empty']"><v-icon slot="icon" type="renwu-on" color="#B05EE6"></v-icon>任务</v-cell>
  </v-group>

  <v-group>
    <v-cell [isLink]="true" [routerLink]="['/user/worker']"><v-icon slot="icon" type="shegong" color="#FF601A"></v-icon>社工</v-cell>
    <v-cell [isLink]="true" [routerLink]="['/empty']"><v-icon slot="icon" type="xiangdao" color="#02A3FE"></v-icon>向导</v-cell>
    <v-cell [isLink]="true" [routerLink]="['/empty']"><v-icon slot="icon" type="zhanghu" color="#65C700" style="font-size:16px"></v-icon>账户</v-cell>
  </v-group>

  <v-group>
    <v-cell [isLink]="true" [routerLink]="['/store']" *ngIf="store"><v-icon slot="icon" type="store" color="#4AA5F0"></v-icon>我的店铺</v-cell>
    <v-cell [isLink]="true" [routerLink]="['/store']" *ngIf="!store"><v-icon slot="icon" type="dianpu" color="#4AA5F0"></v-icon>加盟合作</v-cell>
  </v-group>
</v-page>
