<v-page class="page-answer">
  <v-header slot="header">
    <span>{{ title }}</span>
    <div class="ngv-header-button" slot="right" *ngIf="isOwner">采纳</div>
  </v-header>

  <bottom-input #bottomInput slot="footer" (submit)="addAnswer($event, bottomInput)" *ngIf="canAnswer"></bottom-input>

  <div class="answer-row" [class.answer-you]="!isMe(a.userId)" [class.answer-me]="isMe(a.userId)" *ngFor="let a of answers">
    <v-image [src]="a.headimgurl" *ngIf="!isMe(a.userId)"></v-image>
    <p>{{ a.content }}</p>
  </div>
</v-page>
