.page-answer {
  bottom-input {
    opacity: 1;
  }

  .ngv-page-content {
    padding: 8px;
  }

  .answer-row {
    display: flex;
    margin-bottom: 15px;

    v-image {
      width: 36px;
      height: 36px;
    }

    p {
      position: relative;
      flex: 1;
      background: white;
      padding: 8px;
      border-radius: 4px;
    }

    &.answer-you {
      margin-right: 50px;
      p {
        margin-left: 10px;
        &:before {
          width: 0;
          height: 0;
          position: absolute;
          left: -12px;
          top: 11px;
          content: "";
          border: 6px solid transparent;
          border-right-color: #fff;
        }
      }
    }

    &.answer-me {
      margin-left: 50px;
      p {
        background: #a0e75a;
        margin-right: 10px;

        &:before {
          width: 0;
          height: 0;
          position: absolute;
          right: -12px;
          top: 11px;
          content: "";
          border: 6px solid transparent;
          border-left-color: #a0e75a;
        }
      }
    }
  }
}
