@import "../../styles/variable";
.page-bank {
  .main-nav {
    padding-top: 12px;
    background: #fff;
    quickentry-item {
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: 3px solid #fff;

      &.selected {
        border-bottom: 3px solid @main-color;
      }
    }
  }

  .ngv-page-has-header {
    top: 90px;
  }

  .sub-nav {
    padding-top: 6px;
    quickentry-item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
