@import '../../styles/variable';

.page-bank-child {
  v-flexbox-item {
    div {
      font-size: 14px;
      text-align: center;
      padding: 15px 0;
    }
  }

  .collapse-btn {
    font-size: 12px;
    text-align: center;
    padding: 5px 0;

    v-icon {
      font-size: 14px;
      color: @main-color;
    }
  }

  .service-list {
  }
}

