<v-page class="page-bank">
  <v-header [showBack]="false" slot="header">
    <span>众邻</span>
    <span style="font-size: 14px">...好邻里·轻松自己</span>
    <!--<v-icon class="ngv-header-button" type="plus" [headerButton]="true" slot="right" [routerLink]="['/publish']"></v-icon>-->
  </v-header>
  <tabbar slot="footer"></tabbar>

  <div class="quickentry-nav ngv-1px-b qe" *ngIf="icons">
    <quickentry *ngFor="let chunk of shownIcons | chunk: 5; let i = index">
      <quickentry-item [icon]="icon.image | fixurl" (click)="goto(icon)" *ngFor="let icon of chunk | slice: 0:5; let i = index">
      {{ icon.name }}
      </quickentry-item>
    </quickentry>
  </div>
  <div class="news" *ngIf="articles">
    <div class="news-item">
      <span class="title ngv-1px-r">头条</span>
      <span class="subject">
        <v-slider [isVertical]="true" [indicator]="false" [auto]="4000">
          <v-slider-item *ngFor="let a of articles">
            <div class="ellipsis">
              {{ a.title }}
            </div>
          </v-slider-item>
        </v-slider>
      </span>
    </div>
  </div>

  <empty-page *ngIf="!services || !services.length">暂无内容</empty-page>
  <div class="service-list">
    <service-list-item [service]="s" class="ngv-1px-b" *ngFor="let s of services" [routerLink]="['/bank/service/' + s.id]">
    </service-list-item>
  </div>
</v-page>
<div *ngIf="showMask" class="ngv-overlay">
  <div class="weui-mask"></div>
  <div class="quickentry-nav qe" *ngIf="menus">
    <quickentry *ngFor="let chunk of menus | slice: 0:-1 | chunk: 4">
      <quickentry-item [icon]="icon.icon | fixurl" (click)="goto(icon)" *ngFor="let icon of chunk">
        {{ icon.name }}
      </quickentry-item>
    </quickentry>
  </div>
  <div class="close" (click)="showMask=false">
    <v-icon type="close"></v-icon>
  </div>
</div>
