<v-page class="page-bank">
  <v-header [showBack]="false" slot="header">
    <span>众邻</span>
    <span style="font-size: 14px">...好邻里·轻松自己</span>
    <v-icon class="ngv-header-button" type="plus" [headerButton]="true" slot="right" [routerLink]="['/publish']"></v-icon>
  </v-header>
  <tabbar slot="footer"></tabbar>

  <div class="news">
    <div class="news-wrapper">
      <div class="news-item">
        <span class="title ngv-1px-r">社区通知</span>
        <span class="subject">社区“道德讲堂”举办元宵民俗专题讲座</span>
      </div>
    </div>
  </div>

  <div class="ngv-1px-t" *ngIf="menus && menus.length">
    <v-xscroll class="main-nav">
      <quickentry-item class="ngv-xscroll-item" [icon]="m.icon" *ngFor="let m of roots" [class.selected]="m.id === activeMenuId" (click)="clickMainMenu(m)">{{ m.name }}</quickentry-item>
    </v-xscroll>
    <v-xscroll class="sub-nav" *ngIf="getMenus(activeMenuId)">
      <quickentry-item class="ngv-xscroll-item" [icon]="sm.icon" width="20" height="20" *ngFor="let sm of getMenus(activeMenuId)" [routerLink]="['/bank/services', {typeName: sm.name}]">
        {{ sm.name }}
      </quickentry-item>
    </v-xscroll>
  </div>

  <div class="service-list">
    <service-list-item [service]="s" class="ngv-1px-b" *ngFor="let s of services" [routerLink]="['/bank/service/' + s.id]">
    </service-list-item>
  </div>
</v-page>
