<v-page class="page-organization">
  <v-header>
    {{ title }}
  </v-header>
  <tabbar slot="footer"></tabbar>

  <!--
  <v-group gutter="0">
    <v-cell [isLink]="true" [routerLink]="['/bank/organization/detail/' + o.id]" *ngFor="let o of organizations">{{ o.organizationname }}</v-cell>
  </v-group>
  -->

<ng-container *ngIf="!id">
  <div class="weui-panel" *ngFor="let o of organizations">
    <div class="weui-panel__hd">{{ o.organizationname }}</div>
    <div class="weui-panel__bd" *ngIf="o.children && o.children.length">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" *ngFor="let c of o.children" (click)="goto(c)">
            <div class="weui-cell__bd weui-cell_primary">
              <p>{{ c.organizationname }}</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="id">
  <v-group>
    <v-cell [isLink]="true" [routerLink]="['/bank/organization/detail/' + o.id]" *ngFor="let o of organizations">{{ o.organizationname }}</v-cell>
  </v-group>
</ng-container>
<empty-page *ngIf="!organizations || !organizations.length">暂时没有内容</empty-page>

</v-page>
