<v-page class="page-question" *ngIf="question">
  <v-header slot="header">{{ title }}</v-header>

  <div class="answer-btn" [routerLink]="'/bank/question/' + question.id + '/answer'" *ngIf="canAnswer">
    <v-icon type="edit"></v-icon>
  </div>

  <div class="question">
    <div class="question-title">
      <ng-container [ngSwitch]="question.category">
        <ng-container *ngSwitchCase="'question'">
          <v-icon type="question"></v-icon>
          <span class="question-points">{{ question.points }}积分</span>
        </ng-container>
        <ng-container *ngSwitchCase="'help'">
          <v-icon type="help"></v-icon>
        </ng-container>
        <ng-container *ngSwitchCase="'service'">
          <v-icon type="service"></v-icon>
        </ng-container>
      </ng-container>
      <span>{{ question.title }}</span>
    </div>
    <div class="question-info">
      <div class="question-answers">{{ question.answerCount }}个{{ label }}</div>
      <div class="question-time">{{ question.createdAt | time: 'minite' }}</div>
    </div>
  </div>
  <div class="question-types ngv-1px-t">
    <v-icon type="tag"></v-icon>
    <span>{{ question.mainType }}－{{ question.type }}</span>
  </div>

  <div class="gutter"></div>

  <div class="comment-list">
    <div class="comment" *ngFor="let a of question.answers">
      <div class="comment-header">
        <div class="comment-header-left">
          <v-image [src]="a.headimgurl"></v-image>
        </div>
        <div class="comment-header-center">
          <div class="comment-user">{{ a.realname }}</div>
          <div class="comment-time">{{ a.createdAt | time: 'minite' }}</div>
        </div>
        <div class="comment-header-right" *ngIf="a.orderId">
          <span>{{ answerStatus(a) }}</span>
        </div>
      </div>
      <pre class="comment-body" *ngIf="question.category === 'question'">{{ a.content }}</pre>
      <div class="question-sessions ngv-1px-t" *ngIf="question.category !== 'question'">
        <div class="question-session">
          <div class="question-session-user">价格：</div>
          <div class="question-session-content">{{ a.points }}积分</div>
        </div>
        <div class="question-session" *ngIf="a.content">
          <div class="question-session-user">对方留言：</div>
          <div class="question-session-content">{{ a.content }}</div>
          <div class="question-session-time">{{ a.createdAt | time: 'minite' }}</div>
        </div>
        <div class="question-session" *ngIf="a.memo">
          <div class="question-session-user">我的留言：</div>
          <div class="question-session-content">{{ a.memo }}</div>
          <div class="question-session-time">{{ a.memoTime | time: 'minite' }}</div>
        </div>
      </div>
      <div class="answer-actions ngv-1px-t" *ngIf="actions(a).length">
        <div class="answer-action" (click)="this[act](a)" *ngFor="let act of actions(a)">
          <v-icon [type]="act"></v-icon>
          <span>{{ actionLabel(act) }}</span>
        </div>
      </div>
    </div>
  </div>
</v-page>
