<v-page class="page-question" *ngIf="question">
  <v-header slot="header">来自<span>{{ question.realname }}</span>的提问</v-header>

  <div class="answer-btn" [routerLink]="'/bank/question/' + question.id + '/answer'">
    <v-icon type="edit"></v-icon>
  </div>

  <div class="question">
    <div class="question-title">
      <v-icon type="jinlingyingcaiwangtubiao07"></v-icon>
      <span class="question-points">20</span>
      <span>{{ question.title }}</span>
    </div>
    <div class="question-info">
      <div class="question-answers">{{ question.answerCount }}人回答</div>
      <div class="question-time">{{ question.createdAt | time: 'minite' }}</div>
    </div>
  </div>
  <div class="question-types ngv-1px-t">
    <v-icon type="tag"></v-icon>
    <span>{{ question.mainType }}－{{ question.type }}</span>
  </div>

  <div class="gutter"></div>

  <div class="comment-list">
    <div class="comment ngv-1px-b" *ngFor="let a of question.answers" [routerLink]="['/bank/question/' + question.id + '/answer', {answerId: a.id}]">
      <div class="comment-header">
        <div class="comment-header-left">
          <v-image [src]="a.headimgurl"></v-image>
        </div>
        <div class="comment-header-right">
          <div class="comment-user">{{ a.realname }}</div>
          <div class="comment-time">{{ a.createdAt | time: 'minite' }}</div>
        </div>
      </div>
      <pre class="comment-body">{{ a.answerContent }}</pre>
      <div class="comment-meta">{{ a.answerCount }}对话</div>
    </div>
  </div>
</v-page>
