<v-page class="page-service">
  <v-header [showBack]="false" slot="header">
    <a class="ngv-header-back ngv-header-button" slot="left" [routerLink]="['/bank']">
      <span>返回</span>
      <div class="left-arrow"></div>
    </a>
    {{ service?.categoryName }}
  </v-header>
  <v-tabbar slot="footer" *ngIf="service && service.status === 'normal' && (!user || user.status !== 'done')">
    <v-tabbar-btn class="primary" (click)="join()" *ngIf="!user || ['submit', 'accept'].indexOf(user.status) === -1">我要参加</v-tabbar-btn>
    <v-tabbar-btn class="primary" (click)="quit()" *ngIf="user && ['submit', 'accept'].indexOf(user.status) !== -1">我要退出</v-tabbar-btn>
  </v-tabbar>
  <service-detail [service]="service" *ngIf="service"></service-detail>
</v-page>
