<v-page class="page-community">
  <v-header [showBack]="false" slot="header">
    <img [src]="logo?.logo | fixurl" *ngIf="logo?.logo"/>
  </v-header>
  <tabbar slot="footer"></tabbar>

  <v-slider *ngIf="carousel">
    <v-slider-item *ngFor="let image of carousel">
      <v-image width="100%" height="180" [src]="'http://www.crowdnear.com/pc/' + image.image" size="cover"></v-image>
    </v-slider-item>
  </v-slider>
  <div class="site">
    <span class="site-main">众邻</span>
    <span class="site-body">...社区自治与互助服务平台</span>
  </div>

  <div class="quickentry-nav ngv-1px-b qe" *ngIf="icons">
    <v-xscroll class="main-nav">
      <quickentry-item class="ngv-xscroll-item" [icon]="m.image | fixurl" *ngFor="let m of icons" (click)="goto(m)">{{ m.name }}</quickentry-item>
    </v-xscroll>
  </div>

  <empty-page *ngIf="!articles || !articles.length">暂无内容</empty-page>
  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text" *ngFor="let a of articles" [routerLink]="['/article/' + a.id]">
        <h4 class="weui-media-box__title">{{ a.title }}</h4>
        <ul class="weui-media-box__info">
          <li class="weui-media-box__info__meta">{{ a.type }}</li>
          <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ a.date | time: 'day' }}</li>
        </ul>
      </div>
    </div>
  </div>

</v-page>
<div *ngIf="showMask" class="ngv-overlay">
  <div class="weui-mask"></div>
  <div class="quickentry-nav qe" *ngIf="icons">
    <quickentry *ngFor="let chunk of icons | slice: 0:-1 | chunk: 4">
      <quickentry-item [icon]="icon.image | fixurl" (click)="goto(icon)" *ngFor="let icon of chunk">
        {{ icon.name }}
      </quickentry-item>
    </quickentry>
  </div>
  <div class="close" (click)="showMask=false">
    <v-icon type="close"></v-icon>
  </div>
</div>

