@import 'reset.less';
@import '1px.less';
@import 'center.less';
@import 'reddot.less';
@import 'theme.less';

.ngv-gutter {
  margin-top: 8px;
}

.ngv-tap-active {
  tap-highlight-color: rgba(0,0,0,0);
}
.ngv-tap-active:active {
  background-color: #ECECEC;
}

.ngv-flexbox {
  display: flex;
}

.ngv-flexbox-hcenter {
  justify-content: center;
}

.ngv-flexbox-vcenter {
  align-items: center;
}

.ngv-flexbox-item {
  flex: 1;
}

.ngv-bg-white {
  background: #fff;
}

.solid-arrow {
  display: inline-block;
  margin-top: 5px;
  border: solid transparent 5px;
  border-left-color: #999;
}

.ngv-overlay {
  position: absolute;
  width: 100%;
  z-index: 10000;
  height: 100%;

  .weui-mask {
    background: rgba(255, 255, 255, 0.96);
  }

  .quickentry-nav {
    position: absolute;
    width: 100%;
    z-index: 10001;
    background: none;
  }

  .close {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10001;
    bottom: 20px;

    v-icon {
      font-size: 24px;
      color: #ccc;
    }
  }
}

.weui-vcode-img v-icon {
  font-size: 28px;
  padding-right: 8px;
  padding-top: 4px;
  display: block;
}
