@import './variable';

.zonglin {
  .weui-cells {
    margin-top: 8px;
  }

  .weui-media-box_small-appmsg .weui-cells {
    margin-top: 0;
  }

  .weui-btn_primary {
    background: @main-color;
  }

  .weui-btn_disabled.weui-btn_primary {
    background: #b2b2b2;
  }
  .weui-btn_primary:not(.weui-btn_disabled):active {
    background: #FFBE00;
  }

  .weui-btn_disabled {
    color: #fff;
  }

  .weui-vcode-btn {
    color: @main-color;
  }
  .weui-tabbar {
    background: #fff;
  }

  .weui-tabbar__icon > v-icon {
    font-size: 22px;
  }

  .weui-tabbar__item {
    padding-top: 7px;
  }

  .weui-tabbar__icon {
    line-height: 24px;
    width: 24px;
    height: 24px;
  }

  .weui-tabbar__label {
    line-height: 1.6;
  }

  v-tabbar-btn .weui-tabbar__label {
    line-height: 47px;
  }

  .ngv-page-has-footer {
    bottom: 47px;
  }

  .weui-panel {
    margin-top: 8px;
  }

  .qe v-slider .ngv-slider-viewport {
    padding-bottom: 10px;
  }
}
