<v-page *ngIf="!isNormal">
  <v-header [showBack]="false" slot="header">
    <a class="ngv-header-back ngv-header-button" slot="left" [routerLink]="['/user']">
      <div class="left-arrow"></div>
    </a>
    我的店铺
  </v-header>
  <v-tabbar slot="footer">
    <v-tabbar-btn class="primary" [routerLink]="['/store/add']" *ngIf="!store">申请开店</v-tabbar-btn>
    <v-tabbar-btn class="primary" [routerLink]="['/user']" *ngIf="isSubmit">返回</v-tabbar-btn>
  </v-tabbar>
  <empty-page *ngIf="!store">您还没有店铺</empty-page>
  <empty-page *ngIf="isSubmit">您的店铺正在审核中，请等待审核完成</empty-page>
</v-page>

<v-page *ngIf="isNormal" class="page-store">
  <v-header slot="header">
    我的店铺
    <v-icon class="ngv-header-button" type="weixiu" [headerButton]="true" slot="right" [routerLink]="['/store/edit']"></v-icon>
  </v-header>
  <v-tabbar slot="footer" *ngIf="currentIndex === 1">
    <v-tabbar-btn class="warn" [routerLink]="['/store/product/add']">新增产品</v-tabbar-btn>
  </v-tabbar>
  <v-tab>
    <v-tab-item *ngFor="let tab of tabs; let i = index" (click)="currentIndex = i" [class.ngv-tab-selected]="i === currentIndex">{{ tab }}</v-tab-item>
  </v-tab>
  <ng-container [ngSwitch]="currentIndex">
    <ng-container *ngSwitchCase="0">
      <order *ngFor="let o of orders" [order]="o" [isStore]="true"></order>
      <empty-page *ngIf="!orders || !orders.length">暂无内容</empty-page>
    </ng-container>
    <ng-container *ngSwitchCase="1">
      <div class="product-list ngv-bg-white">
        <product-list-item
          class="ngv-1px-b"
          [product]="p"
          *ngFor="let p of products"
          [routerLink]="['/store/product/item/' + p.id]"
        >
        </product-list-item>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <v-group>
        <v-cell [value]="accounts.storeBalance">捐赠积分余额</v-cell>
        <v-cell [value]="accounts.storeTotal">捐赠积分积分总额</v-cell>
        <v-cell [value]="accounts.buyBalance">购买积分余额</v-cell>
        <v-cell [value]="accounts.buyTotal">购买积分总额</v-cell>
      </v-group>
    </ng-container>
  </ng-container>
</v-page>
